{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Magazine</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>

  <body>
    <header></header>
    <main>
      <div class="magazine-card">
        {% for issue in magazine.issues.all %}
        <h1>{{ issue.title }}</h1>
        <img src={{ issue.image }} alt="Issue Cover" />
        <p>{{ issue.description }}</p>
        <p>{{ issue.issue}}</p>
        <p>{{ issue.date}}</p>
        {% endfor %}
      </div>
    </main>
  </body>
</html>


{% comment %} <img src={{ magazine.image }} alt="Book Cover" />
<h1>{{ magazine.title }}</h1>
<p>{{ magazine.description }}</p>
<p>{{ magazine.cycle}}</p>
<p>
  <a href={% url 'update_magazine' magazine.pk %}>Update this magazine?</a>
</p>  {% endcomment %}