{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Book</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>

  {% comment %} The resulting HTML from a request to the path
  http://localhost:8000/books/create should result in HTML that has the
  fundamental five in it a main tag that contains div tag that contains an h1
  tag with the content "Create a new book" a form tag with method "post" that
  contains all of the fields from the Book model {% endcomment %}

  <body>
    <header>
    </header>
    <main>
      <div>
        <h1>Create a New Book</h1>
      </div>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="control">
          <button class="button">Create</button>
        </div>
      </form>
    </main>
  </body>
</html>
