{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Book</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
  </header>
  <main>
    <div class="book-card">
        <img src={{ book.image }} alt="Book Cover">
        <h1>{{ book.title }}</h1>
        <h2>{{ book.author }}</h2>
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
        <p>{{ book.year_published}}</p>
      </div>
  </main>
</body>

</html>
